In [1]:
from utils.utils import *

In [2]:
train_data_path = "D:\\NLP_Chess\\Processed_Data\\NLP_Train.csv.gz"
val_data_path = "D:\\NLP_Chess\\Processed_Data\\NLP_Val.csv.gz"
test_data_path = "D:\\NLP_Chess\\Processed_Data\\NLP_Test.csv.gz"
stockfish_path = "D:\\NLP_Chess\\stockfish\\stockfish-windows-x86-64-avx2.exe"

In [3]:
save_data(pgn_file_path = "D:\\NLP_Chess\\Data\\Train\\lichess_db_standard_rated_2013-08.pgn.zst", save_file_path = train_data_path, max_num_games = 10, stockfish_path = stockfish_path)

Num processed games in a file = 10

In [4]:
save_data(pgn_file_path = "D:\\NLP_Chess\\Data\\Test\\lichess_db_standard_rated_2013-02.pgn.zst", save_file_path = test_data_path, max_num_games = 10, stockfish_path = stockfish_path)

Num processed games in a file = 10

In [5]:
save_data(pgn_file_path = "D:\\NLP_Chess\\Data\\Val\\lichess_db_standard_rated_2013-01.pgn.zst", save_file_path = val_data_path, max_num_games = 10, stockfish_path = stockfish_path)

Num processed games in a file = 10

In [6]:
train_data = pd.read_csv(train_data_path, compression='gzip')
val_data = pd.read_csv(val_data_path, compression='gzip')
test_data = pd.read_csv(test_data_path, compression='gzip')

In [7]:
train_data.head()

,game_number,move_number,board,move,legal,stockfish_2,stockfish_5,stockfish_10,real,piece_placement,active_color,castling_availability,en_passant,halfmove_clock,fullmove_number
0,4,74,1R3nk1/5pp1/1p2p2p/r1b1r2P/2P5/8/2K5/8 w - - 3 38,g3e5,False,NaN,NaN,NaN,False,1R3nk1/5pp1/1p2p2p/r1b1r2P/2P5/8/2K5/8,w,-,-,3,38
1,5,12,r1bqkb1r/ppp2pp1/2Bp1n1p/4p3/4P3/2NP1Nq1/PPP2P...,d1g3,False,NaN,NaN,NaN,False,r1bqkb1r/ppp2pp1/2Bp1n1p/4p3/4P3/2NP1Nq1/PPP2P...,w,KQkq,-,0,7
2,1,4,rnbqkbnr/pp1pppp1/8/2p5/4P3/P7/1PpP1PPP/RNBQKB...,h7c2,False,NaN,NaN,NaN,False,rnbqkbnr/pp1pppp1/8/2p5/4P3/P7/1PpP1PPP/RNBQKBNR,w,KQkq,-,0,3
3,4,76,1R3nk1/5p2/1p2p2p/2b4P/2Pp4/6r1/r7/2K5 w - - 0 39,g7d4,False,NaN,NaN,NaN,False,1R3nk1/5p2/1p2p2p/2b4P/2Pp4/6r1/r7/2K5,w,-,-,0,39
4,9,38,r2q1b1r/P1p2k1p/R1Q1p3/4P1p1/3P4/p4P2/1P5P/1N2...,g6a3,False,NaN,NaN,NaN,False,r2q1b1r/P1p2k1p/R1Q1p3/4P1p1/3P4/p4P2/1P5P/1N2...,w,-,-,0,20

In [8]:
val_data.head()

,game_number,move_number,board,move,legal,stockfish_2,stockfish_5,stockfish_10,real,piece_placement,active_color,castling_availability,en_passant,halfmove_clock,fullmove_number
0,4,37,r4b1r/pp1bnkp1/1q2B3/2ppP2p/5P2/2PP1K1P/PP1N4/...,g4e6,True,-662.0,-692.0,-669.0,True,r4b1r/pp1bnkp1/1q2B3/2ppP2p/5P2/2PP1K1P/PP1N4/...,b,-,-,0,19
1,5,54,Q3k1r1/2p2p1p/3pp2p/2r3p1/8/6P1/P2R1P2/5RK1 w ...,h2h7,False,NaN,NaN,NaN,False,Q3k1r1/2p2p1p/3pp2p/2r3p1/8/6P1/P2R1P2/5RK1,w,-,-,0,28
2,7,44,1r2k2r/1p2np2/pNp3q1/2Pnp1pp/1P6/P2PQ2P/4BPP1/...,f6d5,True,-260.0,-260.0,-239.0,True,1r2k2r/1p2np2/pNp3q1/2Pnp1pp/1P6/P2PQ2P/4BPP1/...,w,k,-,0,23
3,6,11,r1bq1rk1/pppp1p1p/2P2n2/2b1p3/2B1P3/2PP1N2/PP3...,g7c6,False,NaN,NaN,NaN,False,r1bq1rk1/pppp1p1p/2P2n2/2b1p3/2B1P3/2PP1N2/PP3...,b,KQ,-,0,6
4,9,76,8/5pk1/p1Q3b1/1p6/1q6/8/5PPK/8 w - - 0 39,a3b4,True,476.0,-355.0,498.0,True,8/5pk1/p1Q3b1/1p6/1q6/8/5PPK/8,w,-,-,0,39

In [9]:
test_data.head()

,game_number,move_number,board,move,legal,stockfish_2,stockfish_5,stockfish_10,real,piece_placement,active_color,castling_availability,en_passant,halfmove_clock,fullmove_number
0,4,11,rnb1k1nr/ppp1ppbp/4q1p1/8/3P4/2N2N2/PPP1BPPP/R...,g1f3,True,91.0,91.0,91.0,True,rnb1k1nr/ppp1ppbp/4q1p1/8/3P4/2N2N2/PPP1BPPP/R...,b,KQkq,-,2,6
1,1,3,rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PP1P1PPP/RNBQKBN...,c2f2,False,NaN,NaN,NaN,False,rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PP1P1PPP/RNBQKBNR,b,KQkq,-,0,2
2,3,26,rnnq1rk1/1b3p1p/pp1p2p1/2p5/2P1PP2/N1b1B3/PP1Q...,g7c3,True,-75.0,-98.0,-165.0,True,rnnq1rk1/1b3p1p/pp1p2p1/2p5/2P1PP2/N1b1B3/PP1Q...,w,-,-,0,14
3,7,33,r6r/1p2b1pp/p4nk1/n3q3/2Q2N2/N1P1B3/PP3PPP/R3K...,e6f4,True,344.0,344.0,339.0,True,r6r/1p2b1pp/p4nk1/n3q3/2Q2N2/N1P1B3/PP3PPP/R3K2R,b,KQ,-,4,17
4,7,114,8/8/K5pk/8/8/1P5p/8/8 w - - 0 58,h4h3,True,504.0,504.0,513.0,True,8/8/K5pk/8/8/1P5p/8/8,w,-,-,0,58

In [10]:
train_data.describe()

,game_number,move_number,stockfish_2,stockfish_5,stockfish_10,halfmove_clock,fullmove_number
count,1230.000000,1230.000000,626.000000,626.000000,626.000000,1230.000000,1230.000000
mean,4.388618,43.123577,-27.990415,-26.089457,-20.188498,0.840650,22.308943
std,3.090214,34.158931,453.762151,462.993745,476.083528,1.556311,17.083879
min,0.000000,1.000000,-1545.000000,-1545.000000,-1483.000000,0.000000,1.000000
25%,1.000000,16.000000,-223.750000,-244.000000,-248.500000,0.000000,9.000000
50%,4.000000,35.000000,-11.000000,-16.000000,-17.000000,0.000000,18.000000
75%,7.000000,61.750000,160.500000,159.500000,161.500000,1.000000,31.750000
max,9.000000,140.000000,1244.000000,1286.000000,1545.000000,11.000000,71.000000

In [11]:
val_data.describe()

,game_number,move_number,stockfish_2,stockfish_5,stockfish_10,halfmove_clock,fullmove_number
count,1080.000000,1080.000000,548.000000,548.000000,548.000000,1080.000000,1080.000000
mean,5.305556,33.009259,-27.536496,-31.465328,-24.883212,0.791667,17.251852
std,2.756939,23.221501,333.639529,340.977121,344.954181,1.427301,11.617295
min,0.000000,1.000000,-899.000000,-899.000000,-901.000000,0.000000,1.000000
25%,3.000000,14.000000,-176.000000,-191.750000,-179.750000,0.000000,8.000000
50%,5.000000,28.500000,-20.000000,-29.000000,-26.000000,0.000000,15.000000
75%,8.000000,48.250000,97.000000,97.250000,89.250000,1.000000,25.000000
max,9.000000,94.000000,933.000000,956.000000,900.000000,9.000000,48.000000

In [13]:
test_data.describe()

,game_number,move_number,stockfish_2,stockfish_5,stockfish_10,halfmove_clock,fullmove_number
count,934.000000,934.000000,471.000000,471.000000,471.000000,934.000000,934.000000
mean,5.304069,34.010707,-21.891720,-29.908705,-28.053079,0.794433,17.751606
std,2.804384,27.016447,238.829653,246.937985,245.684193,1.449593,13.514883
min,0.000000,1.000000,-899.000000,-983.000000,-956.000000,0.000000,1.000000
25%,3.000000,13.000000,-116.000000,-137.500000,-133.500000,0.000000,7.000000
50%,6.000000,28.000000,-6.000000,-14.000000,-17.000000,0.000000,15.000000
75%,7.000000,47.000000,80.000000,79.500000,74.000000,1.000000,24.000000
max,9.000000,118.000000,900.000000,958.000000,990.000000,10.000000,60.000000

In [15]:
train_data['real'].value_counts()

real
False    615
True     615
Name: count, dtype: int64

In [16]:
val_data['real'].value_counts()

real
True     540
False    540
Name: count, dtype: int64

In [17]:
test_data['real'].value_counts()

real
True     467
False    467
Name: count, dtype: int64

In [18]:
train_data['legal'].value_counts()

legal
True     626
False    604
Name: count, dtype: int64

In [19]:
val_data['legal'].value_counts()

legal
True     548
False    532
Name: count, dtype: int64

In [20]:
test_data['legal'].value_counts()

legal
True     471
False    463
Name: count, dtype: int64